---
title: ""
layout: "layouts/home.njk"
permalink: "/"
---

<!-- Banner -->
<section id="banner">
  <div class="container">
    <div class="logo"><img src="{{ site.path.prefix }}{{ site.path.assets }}{{ banner.logo.imgSrc }}" alt="{{ banner.logo.imgAlt }}"></div>
    <header>
      <h2>{{ banner.header.title }}</h2>
      {% for paragraph in banner.header.text %}
      <p>{{ paragraph }}</p>
      {% endfor %}
    </header>
  </div>
</section>

<!-- Intro -->
<section id="intro" class="wrapper style1">
  <div class="container">
    <h2>
      {{ intro.header.title }}<br/>
      <span>{{ intro.header.subtitle }}</span>
    </h2>
    <footer>
      {% for paragraph in intro.header.text %}
      <p>{{ paragraph }}</p>
      {% endfor %}
      <ul class="actions">
        <li><a href="{{ site.links.whatsapp }}" class="button primary large" target="_blank">Saiba mais</a></li>
      </ul>
    </footer>
  </div>
</section>

<!-- Main -->
<section id="main" class="wrapper style2">
  <div class="container">
      <!-- Core competences -->
      <section id="competences">
        <header>
          <h2 class="centered">{{ competences.header.title }}</h2>
          {% for paragraph in competences.header.text %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </header>
        <div class="row">
          {% for item in competences.articles %}
          <div class="col-6 col-12-mobile bottom-gutter">
            <section>
              <header>
                <div class="image fit">
                  <img src="{{ site.path.prefix }}{{ site.path.assets }}{{ item.imgSrc }}" alt="{{ item.imgAlt }}">
                </div>
                <div class="illustrated-title">
                  <img src="{{ site.path.prefix }}{{ site.path.assets }}{{ item.icon }}" alt="Ícone abstrato.">
                  <h3>{{ item.title }}</h3>
                </div>
              </header>
                {% for paragraph in item.text %}
                  <p>{{ paragraph }}</p>
                {% endfor %}
            </section>
          </div>
          {% endfor %}
        </div>
      </section>

      <!-- Harpia -->
      <section id="harpia">
        <div class="row">
          <div class="col-4 col-12-narrow">
            <header>
              <h2>{{ harpia.header.title }}</h2>
            </header>
            {% for paragraph in harpia.text %}
            <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
          <div class="col-8 col-12-narrow">
            <div class="image fit">
              <img src="{{ site.path.prefix }}{{ site.path.assets }}{{ harpia.imgSrc }}" alt="{{ harpia.imgAlt }}">
            </div>
            <ul class="icon-bullets">
              {% for bullet in harpia.kpis %}
                <li class="icon condensed">
                  <i class="{{ bullet.style }} {{ bullet.icon }}"></i>
                  {{ bullet.text | safe }}
                </li>
              {% endfor %}
            </ul>
          </div>
          <footer class="centered">
            <ul class="actions">
              <li><a href="{{ site.links.whatsapp }}" class="button primary large" target="_blank">Conheça</a></li>
            </ul>
          </footer>
        </div>
      </section>

      <!-- Specialists -->
      <section id="specialists">
        <div class="row">
          <div class="col-12">
            <header>
              <h2 class="centered">{{ specialists.header.title }}</h2>
            </header>
            <div class="double-column">
              {% for paragraph in specialists.text %}
              <p>{{ paragraph }}</p>
              {% endfor %}
              <div class="card design1">
                <div class="card-content">
                  <div class="specialists-card-picture">
                    <img src="{{ site.path.prefix }}{{ site.path.assets }}{{ specialists.card.imgSrc }}" alt="{{ specialists.card.imgAlt }}">
                  </div >
                  <div class="specialists-card-text">
                    {% for paragraph in specialists.card.text %}
                      <p>{{ paragraph }}</p>
                    {% endfor %}
                  </div>
                  <div class="specialists-card-cta">
                    <a href="{{ specialists.card.cta.link }}" target="_blank">{{ specialists.card.cta.text }}&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Hilights -->
      <section id="hilights">
        <header>
          <h2 class="centered">{{ hilights.header.title }}</h2>
          <p>{{ hilights.header.subtitle }}</p>
        </header>
        <div class="row">
          {% for item in hilights.cards %}
            <div class="col-4 col-6-mobile">
              <div class="hilights-card">
                <div class="hilights-card-picture">
                  <img src="{{ site.path.prefix }}{{ site.path.assets }}{{ item.icon }}" alt="Ícone abstrato.">
                </div>
                <div class="hilights-card-content">
                  <h4>{{ item.title | safe }}</h4>
                  <p>{{ item.text }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
          <footer class="centered">
            <ul class="actions">
              <li><a href="{{ site.links.whatsapp }}" class="button primary large" target="_blank">Agendar</a></li>
            </ul>
          </footer>
        </div>
      </section>

  </div>
</section>