<div id="contact-form" class="container">
  <div class="row">
    <div class="col-8 col-12-mobile">
      <form
        action="https://formspree.io/f/mvzdogba"
        method="POST"
      >
        <div class="row">
          <div class="col-12">
            <label>
              Nome completo:
              <input type="text" name="name" required>
            </label>
          </div>
          <div class="col-12">
            <label>
              Endereço de email:
              <input type="email" name="email" required>
            </label>
          </div>
          <div class="col-6">
            <label>
              Telefone:
              <input type="text" name="phone">
            </label>
          </div>
          <div class="col-6">
            <label>
              Motivo:
              <select name="reason" required>
                <option value="schedule">Agendamento</option>
                <option value="doubt">Dúvida</option>
                <option value="info">Pedido de informação</option>
                <option value="suggestion">Sugestão</option>
                <option value="other">Outro</option>
              </select>
            </label>
          </div>
          <div class="col-12">
            <label>
              Texto da mensagem:
              <textarea name="message" required></textarea>
            </label>
          </div>
        </div>
        <div class="cta">
          <button class="button primary" type="submit">Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-4 col-12-mobile">
      <h3>Informações de contato</h3>
        <ul class="labeled-icons">
          {% for item in site.contact %}
          <li>
            <h3 class="icon">
              <i class="{{ item.style }} {{ item.icon }}"></i>
            </h3>
            <a href="{{ item.link }}">
              {{ item.text | safe }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="credits">
          &copy; {% year %} Leap Soluções em Tecnologia Ltda. <br/>
          CNPJ: 37.303.055/0001-80
        </p>
        <p class="credits">
          Desenvolvido por <a href="https://synapse.ad/">Synapse Alcance Digital</a>
        </p>
      </div>
    </div>
  </div>
</div>