<title>{{ site.meta.title }}</title>
<meta charset="{{ site.meta.charset }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ site.path.prefix }}{{ site.path.assets }}/css/main.css" />